@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;

}

/* Header Component */
.header-container {

  height: 50px;
  max-width: 100vw;
  background-color: rgb(17, 45, 77);
  display: flex;
  justify-content: space-between;
}

.header-container .logo {
  width: 50px;
  height: 50px;
}

.header-container .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-container {
  width: 80%;
}

.nav-container ul {
  display: flex;
  gap: 30%;
  justify-content: flex-end;
  padding-right: 20px;
  list-style: none;
}

.anchor{
  text-decoration: none;
  color:#fff;
  font-size: 18px;
}


/* App */
.container {
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgb(226, 210, 210);
  /* background: #fff; */
}




.products-edit {
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px;
  min-height: 80vh;
}


.products-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;


}




.product-card {
  cursor: pointer;
  max-width: 300px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 5px rgb(162, 160, 160);
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.prod-image {
  width: 100%;
}

.prod-image img {
  width: 100%;
  height: 180px;
  object-fit: scale-down;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  padding: 25px;
}

.product-card .info .prod-description {
  font-size: 0.8rem;
  color: rgb(114, 110, 110);
}

.product-card .info .prod-price {
  font-size: 2rem;
}

.prod-rating span:nth-child(2) {
  color: rgb(233, 121, 47);
}

.prod-price span {
  font-size: 1.5rem;
}

.text {
  word-wrap: break-word;
}
.edit-details-button{
  text-align: center;
  cursor: pointer;
  margin: auto;
  border:none;
  width:150px;
  height:40px;
  margin-bottom: 20px;
  background-color: #A62773;
  color: #fff;
  border-radius: 4px;

}

/* Loader Component */
.loader-div {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.error {
  text-align: center;
  padding: 20px;
}

/* Editor style */

.editor {
  background-color: rgb(250, 243, 243);
  right: 0;
  width: 50%;
  min-height: 600px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

/* Form styles */
.edit-details {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 80%;
  align-items: center;
}

.edit-details h1 {
  align-self: center;
}

.update-form {
  width: 80%;

  display: flex;
  flex-direction: column;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 10px 20px;

}

.input-fields input {
  border: 1.5px solid rgb(160, 160, 156);
  min-width: 80%;
  height: 30px;
}


.form-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.update-button,
.cancel-button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 15px;
  padding: 5px;

}

.update-button {
  background-color: #A62773;
  color: #fff;
  border: 1.5px solid rgb(160, 160, 156);
}

#description {
  width: 80%;
  height: 150px;
  max-width: 100%;
  max-height: 200px;
}

/* Running popup */

.popup-wrapper {
  position: fixed;
  min-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-color: #A62773; */
  background-color: rgb(0, 0, 0, 0.4);
}

.running-popup {
  box-sizing: border-box;
  position: absolute;
  background-color: rgb(243, 232, 232);
  max-width: 600px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  z-index: 100;
  border-radius: 10px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.running-popup button {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: rgb(226, 182, 182);
  border-radius: 6px;
  outline: none;
  border: none;
}




/* Warning */
.warning-wrapper {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.4);

}

.warning {
  box-sizing: border-box;
  position: absolute;
  background-color: rgb(243, 232, 232);
  max-width: 600px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  z-index: 100;
  border-radius: 10px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning h3 {
  padding: 10px;
}

.warning-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.warning-buttons button {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: rgb(226, 182, 182);
  border-radius: 6px;
  outline: none;
  border: none;
}

/* Single Product */
.single-product {
  box-sizing: border-box;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}


.single-prod-image {
  box-sizing: border-box;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-prod-image img {
  width: 70%;
  height: fit-content;
  align-self: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.single-prod-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 10%;
}

.single-prod-details .single-prod-rating span:nth-child(even) {
  color: rgb(233, 121, 47);
}

.single-prod-price {
  font-size: 2rem;
}

.single-prod-price span {
  font-size: 1.3rem;
}

.add-to-cart{
  width:200px;
  height: 30px;
  border:none;
  font-size: 14px;
  padding: 3px;
  font-weight: bold;
}


/* Footer Component */
footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 45, 77);
  justify-content: center;
  color: #fff;
  align-items: center;
  text-align: center;

}

/* Cart */

.cart-items-container{
  min-height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.no-items-info{
  display: flex;
  flex-direction: column;
  width:80%;
  margin: auto;
}
.cart-item{
  width:60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  /* border:1px solid black; */
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(162, 160, 160);
  border-radius: 5px;
  padding: 10px;
  
}
.cart-item-image{
  width:150px;
  height:150px;
}

.cart-item-image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cart-item .item-details{
  width:50%;
  text-align: start;
}

.price-quantity{
  width:100%;
  display: flex;
  justify-content: space-between;
}

.quantity{
  width:50%;
  display: flex;
  justify-content: center;
  gap:0;

}
.change{
  width:20px;
}
.change button{
  cursor: pointer;
  width:20px;
  height: 20px;
  text-align: center;
  padding: 1px;
  border: none;
  border: 0.3px solid rgb(145, 136, 136);

}
.quantity-text{
  height: 20px;

  width:30px;
  text-align: center;
  border: 0.3px solid rgb(145, 136, 136);

}

.price{
  width:50%;
  text-align: end;
  font-size: 17px;
  font-weight: bold;

  
}
.delete button{
  cursor: pointer;
  border: none;
  padding: 2px;
  width:60px;
  height:30px;
  background-color: red;
  color: #fff;
  border-radius: 3px;
}


@media (max-width:600px) {
  .products-edit {
    flex-direction: column;
  }

  .products-container {
    width: 100%;
    height: 50vh;
    overflow: scroll;

  }

  .editor {
    width: 100%;
    height: 50vh;
  }

  .warning {
    left: 0;
    transform: translate(13%, 100%);
    width: 80%;

  }
}


@media (max-width:550px){
  .single-product{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* gap:0; */
  }

  .single-prod-details h1{
    font-size: 20px;
  }
  .single-prod-image{
      width:100%;
      height:100%;
  }
  .single-prod-image img{
      max-width:100%;
      max-height:100%;
      object-fit: cover;
  }
  .single-prod-details{
    width: 100%;
      padding: 10%;
  }

  .cart-item{
    flex-direction: column;
    gap:10px;
    text-align: center;
    align-items: center;
  }
  .card-item .item-details{
    flex-direction: column;
    width: 100%;
  }
  .item-details h4{
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
  .price-quantity{
    flex-direction: column;
    align-items: center;
    gap:10px;
  }
  .change{
    width:100%;
    align-self: center;
    margin: auto;
  }
  .price{
    text-align: center;
    align-self: center;
    font-weight: bold;
  }
  .quantity-text{
    min-width:50px;
  }
}